.nav {
    overflow: hidden;
    background-color: blue;
    border-radius: 5px;
}

.nav a {
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    color: blue;
    background-color: white;
}

.nav a.logout {
    float: right;
}

input {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"] {
    background-color: #00FFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #008B8B;
}

a.cancel {
    text-align: center;
    display: block;
    text-decoration: none;
}
