body {
    background-color: rgb(210, 232, 241);
}

.nav {
    overflow: hidden;
    background-color: #00BFFF;
    border-radius: 5px;
}

.nav a {
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    color: blue;
    background-color: white;
}

.nav a.logout {
    float: right;
}

h1, h2 {
    text-align: center;
}

input[type=text], select, textarea {
    width: 30%;
    padding: 12px;
    margin-left: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    position: relative;
}


.avatar {
    max-width: 70px;
    max-height: 200px;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 10px;
}

#raccoons {
    margin-top: 20px;
    display: none;
}

.field_name {
    font-weight: bold;
}

.field {
    margin-top: 10px;
    text-align: center;
}

#edit_user_form {
    margin: auto;
}

#form_buttons {
    text-align: center;
}

button {
    width: 100px;
    height: 40px;
    background-color: #00FFFF;
    border: none;
    cursor: pointer;
    margin: auto;
    display: inline-block;
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 15px;
}

button:hover {
    background-color: #008B8B;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

#new_username {
    cursor: not-allowed;
}

#new_password {
    cursor: not-allowed;
}

[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.edit_button {
    width: 70px;
    height: 20px;
    background-color: white;
    margin-top: 20px;
}

.edit_button:hover {
    background-color: lightgrey;
}

#edit_avatar {
    width: 100px;
}

#curr_avatar {
    margin-top: 10px;
    max-height: 200px;
}

