body {
    background-color: rgb(210, 232, 241);
}

.nav {
    overflow: hidden;
    background-color: #00BFFF;
    border-radius: 5px;
}

.nav a {
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    color: blue;
    background-color: white;
}

.nav a.logout {
    float: right;
}

#user_table {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    padding: 5px;
}

tr {
    border-bottom: 1px solid black;
    cursor: pointer;
}

tr:hover {
    background-color: #9acbdf;
}

h1, h2 {
    text-align: center;
}

#top_bar {
    /*width: 100%;*/
    display: block;
    /*margin: auto;*/
    margin-left: 25%;
    margin-right:25%;
    width: %;
    /*padding-left: 30%;*/
}

input[type=text], select, textarea {
    width: 45%;
    padding: 12px;
    margin-left: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    position: relative;
}

.top_buttons {
    border-radius: 5px;
    height: 40px;
}

#search_button {
    background-color: #9da3a5;
    width: 70px;
    display: inline-block;
}

#add_user_button {
    background-color: lightgreen;
    float: right;
    margin-right: 7px;
}

#go_back {
    width: 100px;
    height: 25px;
    background-color: #00FFFF;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

#go_back:hover {
    background-color: #008B8B;
}

