body {
    background-color: rgb(210, 232, 241);
}

.nav {
    overflow: hidden;
    background-color: #00BFFF;
    border-radius: 5px;
}

.nav a {
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    color: blue;
    background-color: white;
}

.nav a.logout {
    float: right;
}

.tables {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    padding: 5px;
}

tr {
    border-bottom: 1px solid black;
}

h1, h2 {
    text-align: center;
}

#top_bar {
    display: block;
    margin-left: 25%;
    margin-right:25%;
    padding-top: 40px;
}

input[type=text], select, textarea {
    width: 45%;
    padding: 12px;
    margin-left: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    position: relative;
}

.top_buttons {
    border-radius: 5px;
    height: 40px;
}

#search_button {
    background-color: #9da3a5;
    width: 70px;
    display: inline-block;
    cursor: pointer
}

#search_button:hover {
    background-color: lightgrey;
}

#clear_button {
    background-color: #9da3a5;
    width: 80px;
    display: inline-block;
    cursor: pointer;
    display: none;
}

#clear_button:hover {
    background-color: lightgrey;
}

#add_user_button {
    background-color: lightgreen;
    float: right;
}

#add_user_button:hover {
    background-color: greenyellow;
    cursor: pointer;
}

#go_back {
    width: 100px;
    height: 25px;
    background-color: #00FFFF;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}

#go_back:hover {
    background-color: #008B8B;
}

.avatar {
    height: 10%;
}

.modify_user_button {
    cursor: pointer;
}

.modify_user_button:hover {
    background-color: lightgrey;
}

#no_results {
    text-align: center;
    display: none;
}

