body {
    background-color: rgb(210, 232, 241);
}

.nav {
    overflow: hidden;
    background-color: #00BFFF;
    border-radius: 5px;
}

.nav a {
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    color: blue;
    background-color: white;
}

.nav a.logout {
    float: right;
}

h1, h2 {
    text-align: center;
}

.raccoons {
    margin-top: 75px;
    text-align: center;
}

#raccoon {
    max-width: 100px;
    max-height: 200px;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 25px;
}

#raccoon:hover {
    max-width: 135px;
    max-height: 235px;
    cursor: pointer;
}

a.changePassword, a.changeAvatar {
    text-align: center;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

a.changePassword:hover, a.changeAvatar:hover {
    color: gold;
}

button {
    height: 30px;
    background-color: #00FFFF;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    position: absolute;
    bottom: 10%;
    margin-left: 46%;
    margin-right: 46%;
    width: 8%;
}

button:hover {
    background-color: #008B8B;
}