body {
    background-color: rgb(210, 232, 241);
}

.nav {
    overflow: hidden;
    background-color: #00BFFF;
    border-radius: 5px;
}

.nav a {
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    color: blue;
    background-color: white;
}

.nav a.logout {
    float: right;
}

h1, h2 {
    text-align: center;
}

#raccoons {
    margin-top: 75px;
    text-align: center;
}

#raccoons .avatar {
    max-width: 100px;
    max-height: 200px;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 75px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    outline: 2px solid #f00;
}

button {
    height: 40px;
    background-color: #00FFFF;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    margin-left: 46%;
    margin-right: 46%;
    width: 8%;
}

#selectAvatar {
    bottom: 25%;
}

button:hover {
    background-color: #008B8B;
}